@model List<OponeoViewsAndAuth.Start.ViewModels.OfferReadModel>
@{
    ViewData["Title"] = "Home Page";
}

<table class="table">
    <thead>
    <tr>
        <th>
            @nameof(OponeoViewsAndAuth.Start.ViewModels.OfferReadModel.Id)
        </th>
        <th>
            @nameof(OponeoViewsAndAuth.Start.ViewModels.OfferReadModel.Option2)
        </th>
        <th>
            @nameof(OponeoViewsAndAuth.Start.ViewModels.OfferReadModel.Size)
        </th>
        <th>
            @nameof(OponeoViewsAndAuth.Start.ViewModels.OfferReadModel.Status)
        </th>
        <th>
            @nameof(OponeoViewsAndAuth.Start.ViewModels.OfferReadModel.CreatedDate)
        </th>
        <th>
            @nameof(OponeoViewsAndAuth.Start.ViewModels.OfferReadModel.ProductName)
        </th>
        <th>
            @nameof(OponeoViewsAndAuth.Start.ViewModels.OfferReadModel.PresentationOption2InMeters)
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var element in @Model)
    {
        <tr>
            <td>@element.Id</td>
            <td>@element.Option2</td>
            <td>@element.Size</td>
            <td>@element.Status</td>
            <td>@element.CreatedDate</td>
            <td>@element.ProductName</td>
            <td>@element.PresentationOption2InMeters</td>
        </tr>
    }
    </tbody>

</table>